<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>



      <!--    bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>


<!--    summernote  -->

      <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
      <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
  </head>


  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid backnav">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"> <img src="images/beez.jpg" alt="" width="40px" height="39px"> </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/new">New Post</a></li>
            <li><a href="/posts">Archive</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container">


      <div class="row">

      <form name="blogform" method="POST" action="new">

         <h2>Create New Blog</h2>
        <div class="input-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" placeholder="Title" id="Title" name="title">
        </div>

        <div class="input-group">
        <label for="Author">Author</label>
        <input type="text" class="form-control" placeholder="Author" id="author" name="author">
        </div>


        <div class="input-group">
        <label for="datetime">Date / Time</label>
        <input type="date" class="form-control" placeholder="datetime" id="date" name="date">
        </div>


        <div class="input-group">
        <label for="image">Image Url</label>
        <input type="text" class="form-control" placeholder="image" id="image" name="image">
        </div>

        <div class="input-group">
            <label for="image">Content</label>
            <textarea id="summernote" name="content"></textarea>

        </div>

         <button type="submit" class="btn btn-primary">POST</button>

     </form>

<br>
     </div>

     <footer class="container-fluid bg-4 text-center ft">
        <p>Created by Zaida Bibi Armien | <a href="#">2018</a></p>
     </footer>
    </div>

      <script>

          $(document).ready(function() {
        $('#summernote').summernote();
        });

      </script>

  </body>
</html>
